

<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>
    
   <br/><br/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Notification</h3>
        </div>
    </div>
</div>

        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">2019-2020</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2018-2019</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">2017-2018</a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">2016-2017</a>
                    <a class="nav-item nav-link" id="nav-2012-tab" data-toggle="tab" href="#nav-2012" role="tab" aria-controls="nav-2012" aria-selected="false">2015-2016</a>
                    <a class="nav-item nav-link" id="nav-2011-tab" data-toggle="tab" href="#nav-2011" role="tab" aria-controls="nav-2011" aria-selected="false">2014-2015</a>
                    <a class="nav-item nav-link" id="nav-2010-tab" data-toggle="tab" href="#nav-2010" role="tab" aria-controls="nav-2010" aria-selected="false">2013-2014</a>
                  </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               
                        <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/RevisedRateOfSikkimStateRevenueStamp.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Revised rate
                                    of Sikkim State Revenue Stamp. Vide Notification No.05/Fin/Adm Dated 30-09-2019.</a>
                                  
                                </li>
                            </ul>  



                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/CAMPA Notification.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Sikkim State
                                    Compensatory Fund. Vide Notification No.Bud/FIN/13 Dated 26-03-2019.</a><img border="0"
                                        src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20190108.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Department
                                    of Personnel Administrative Reforms and Training is constituted to deal with the
                                    case of promotion. Vide Notification No.11/FIN/ADM Dated 05-01-2019.</a><img border="0"
                                        src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20181220.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- In continuation
                                    to the Notification No.05/GOS/FIN/ADM dated 28th September 2018. Vide Notification
                                    No.09/FIN/ADM Dated 20-12-2018.</a><img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28"
                                        height="15" style="padding-left: 5px;" /></li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20180929.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Enhancement
                                    of Existing Monthly Convence Allowance. Vide Notification No.05/GOS/FIN/ADM Dated
                                    28-09-2018.</a><img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20180518.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- In order
                                    to prevent and eradicate any fake/ false challans that has surfaced in the recent
                                    past against the deposits made in the State Bank Of Sikkim. Vide Notification No.01/Fin/Adm
                                    Dated 17-05-2018.</a><img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15"
                                        style="padding-left: 5px;" /></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/NoticeForAddInLocalDailies.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- Notice For
                                    Advertisement In Local Dailies&nbsp; vide Notification No.20/Fin/Accts dated 01-05-2018.</a></li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/GeneralInformation.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification:- General information
                                    to the candidates who have qualified for appoinment to the post of Accounts Clerk/Junior
                                    Storekeeper under SSAS&nbsp; vide Notification No.19/Fin/Accts dated 01-05-2018.</a></li>
                            </ul>
                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20170505.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification-Ammendment
                                    of SSAS rules 2017. vide Notification No. 21 /Fin/Acctt Dated:07/03/2017.<img border="0"
                                        height="15" src="http://sikkimfred.gov.in/images/new.gif" style="padding-left: 5px; width: 28px" /></a>
                                </li>
                            </ul>
                            <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification Revenue Stamp20170328.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification -Details Guidelines
                                    of revise cost of Revenue Stamps and Stamps Paper in the State of Sikkim. vide Notification
                                    No. 23/FIN/ADM Dated:25/03/2017.</a></li>
                            </ul>   
                    
                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <ul>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20170325.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification -Sikkim Finincial
                                    Rules , vide Notification No. 20/FIN/ADM Dated:20/07/2007.</a></li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20170125.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification - Issue of
                                    State Government Securities , vide Notification No. 01/FIN/Acctts Dated:20/07/2007</a>
                                </li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Notification20161014.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification - Committee
                                    consistng of members of Finance Revenue & Expenditure Department , vide Notification
                                    No. GOS/CM/FIN/ADM/2016-17/12-42(31) Dated:13/10/2016.</a></li>
                                <li style="color: Black;"><a href="http://sikkimfred.gov.in/Notification/Documents/Sikkim Financial Rules , 1979 -Amendment Proposals.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Notification - Sikkim Financial
                                    Rules , 1979 -Amendment Proposals, vide Notification No. 552/Fin/Adm/2016-17 Dated:20/08/2016.</a></li>
                            </ul>
                    </div>
                 
                 
                 
                                <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2012" role="tabpanel" aria-labelledby="nav-2012-tab">
                    
                                        <ul>
                                                <li style="color: Black;">&nbsp;<a href="http://sikkimfred.gov.in/Notification/Documents/Notification 20180811.pdf"
                                                    target="_blank" style="color: Black; font-size: small;">Notification: State Goverment
                                                    has been granting permission to conduct raffles in the state of Sikkim, vide Notification
                                                    No. 07/FIN/ADM/2015-16 Dated:06/11/2015.<img border="0" height="15" src="http://sikkimfred.gov.in/images/new.gif"
                                                        style="padding-left: 5px;" width="28" /></a></li>
                                            </ul>
                                            <ul>
                                                <li style="color: Black;">&nbsp;<a href="http://sikkimfred.gov.in/Notification/Documents/EStamps LIC Policy.pdf"
                                                    target="_blank" style="color: Black; font-size: small;">Notification - E- Stamps
                                                    LIC Policy, vide Notification No. 04/Fin/Adm/2016-17 Dated:19/05/2016.</a></li>
                                            </ul>
                                            <ul>
                                                <li style="color: Black;">&nbsp;<a href="http://sikkimfred.gov.in/Notification/Documents/Revised Saledeed notification.pdf"
                                                    target="_blank" style="color: Black; font-size: small;">Notification - Revised Cost
                                                    Of Sale Deed Form, vide Notification No. 02/Fin/Adm Dated:02/04/2016.</a></li>
                                            </ul>
                  </div>





                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2011" role="tabpanel" aria-labelledby="nav-2011-tab">
                    
                       <ul>
                            <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Notification/Documents/Notification for inter seniority.pdf" target="_blank" style="color: Black; font-size: small;">Notification:-Amendment to Sikkim Subordinate and Accounts Service Rules 2014&nbsp; vide Notification No.03/Fin/Accts
                                    dated 27-05-2014.</a>
                            </li>
                            <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Notification/Documents/Promotion Committee.pdf" target="_blank" style="color: Black; font-size: small;">Notification:-Constitution of Departmental Promotion Committee&nbsp; vide Notification No.02/Fin/Accts dated 08-05-2014.
                                </a>
                            </li>
                            <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Notification/Documents/Notification_for_Limited_deptt_examination_to_be_held_on_8th_June_2014.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Notification:- SSAS Limited Departmental Competitive Examination postponed&nbsp; vide Notification No.01/Fin/Admn dated
                                    15-04-2014.</a>
                            </li>
                       </ul>


  </div>



  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2010" role="tabpanel" aria-labelledby="nav-2010-tab">
                    
      <ul>
            <li style="color: Black;">
                <a href="http://sikkimfred.gov.in/Notification/Documents/FinalNotificationForConductingDepartmentalExamOfSSAS.pdf" target="_blank" style="color: Black; font-size: small;">Notification:- Limited Departmental Competitive Examination for SSAS&nbsp; vide Notification No.29/Fin/SSAS dated 26-12-2013.</a>
            </li>
          
                <li style="color: Black;">
                    <a href="http://sikkimfred.gov.in/Notification/Documents/Application_Form.pdf" target="_blank" style="color: Black; font-size: small;">Download Application Form.</a>
                </li>
            
            <li style="color: Black;">
                <a href="http://sikkimfred.gov.in/Notification/Documents/NOTIFICATION .pdf" target="_blank" style="color: Black; font-size: small;">Notification - Amendment to Sikkim Financial rules,&nbsp; 1979 vide Notification No.17(1)/FIN/ACCTS/04 Dated:06-07-2013.</a>
            </li>
      </ul>
</div>




                </div>
              
              </div>
            </div>
      </div>
  <br/>
  <br/>