<style>

    a {
      color:black;
      font-family: 'Times New Roman', Times, serif;
    }
    h5{
        color:black;
        font-family: 'Times New Roman', Times, serif
    }
    p{
        color: black;
    }
    #body{
      background-color:#ECECEC;
    }
    
    </style>
     <div id="body">
        <br/>
 <div class="container">
         <div class="row">
            
 
 
 
       <div class="col-lg-4 col-md-6 col-xs-12" style="padding:5px">
          <h5  style="color:black">Recent Updates</h5>
              
      <hr style="background-color:#36DAEA;height:2px;width:35%;margin:0px"/>          
        <div class="card" >
                     <div class="card-body" style="height:250px">
                       <ul>
                           <marquee height="200px" scrollamount="2" direction="up" loop="true"  onmouseover="this.stop()" onmouseout="this.start()"> 
                        <a href=""> <li><i class="fa fa-angle-double-right"></i> Office ORder <img border="0"
                         src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>  </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i> Seniority List</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i> OFC N.I.T Details</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i> Circular</li> </a><br/>
                         <a href=""> <li><i class="fa fa-angle-double-right"></i> Budget 1st Supplementry 2019-20</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i> Office Memorandum</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>DA Circular</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>Budget Circular 2020-21</li> </a><br/>
                       <a href=""> <li><i class="fa fa-angle-double-right"></i>Demand of Grants 2019-20</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>Unspent Format</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>Notification</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>Letter</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>O M For VOA 2019-20</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>Reports-FRBM</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>Reports-FCD</li> </a><br/>
                        <a href=""> <li><i class="fa fa-angle-double-right"></i>Gazette</li> </a><br/> 
           </marquee>
                       </ul>
                                   
                       </div>
                   </div>
       </div>
   
       <div class="col-lg-5 col-md-6 col-xs-12" style="padding:5px">
            <h5  style="color:black">News & Press Release</h5>
              
            <hr style="background-color:#36DAEA;height:2px;width:40%;margin:0px"/>          
                 
        <div class="card">
                     <div class="card-body" style="height:250px">
                       <ul>
                           <marquee height="200px" scrollamount="2" direction="up" loop="true"  onmouseover="this.stop()" onmouseout="this.start()"> 
           
                           <a href=""> <li><i class="fa fa-angle-double-right"></i> The Annual General Budget for the Financial Year 2018-19 was passed by the State Legislative Assembly on 6<sup>th</sup> March 2018 <img border="0"
                             src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li> </a><br/>
                           <a href=""> <li><i class="fa fa-angle-double-right"></i>The Compendium on achievements for the period from 1994-2016. <img border="0"
                             src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li> </a><br/>
                           <a href=""> <li><i class="fa fa-angle-double-right"></i>Explanatory  Memorandum as to the Action Taken on the recommendations made by the Fourth Finance Commission.</li> </a><br/>
                         <a href=""> <li><i class="fa fa-angle-double-right"></i> C.I.T: Deduction of Income Tax for other Autonomous Bodies .</li> </a><br/>
                            <a href=""> <li><i class="fa fa-angle-double-right"></i> Budget 1st Supplementry 2019-20</li> </a><br/>
                           <a href=""> <li> <i class="fa fa-angle-double-right"></i> Report of the 4th State Finance Commission, Sikkim for the Award period 2015-2020.</li> </a><br/>
                           <a href=""> <li><i class="fa fa-angle-double-right"></i> Office Memorandum on Implementation of SIFMS.</li> </a><br/>
                           <a href=""> <li><i class="fa fa-angle-double-right"></i> Instructions on Sikkim Integrated Financial Management System(SIFMS).</li> </a><br/>
                           <a href=""> <li><i class="fa fa-angle-double-right"></i> Online services for VAT launched by Commercial Tax Division, FRED</li> </a><br/>
           </marquee>
                       </ul>
                                   
                       </div>
                   </div>
       </div>
 
 
 <div class="col-lg-3 col-md-6 col-xs-12" style="padding:5px"   >
             <div class="card">
                   
                     <div class="card-body">
                         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                             <ol class="carousel-indicators">
                               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                             </ol>
                             <div class="carousel-inner">
                               <div class="carousel-item active">
                                 <a href="https://sikkim.gov.in/mygovernment/whos-who/governor-profile">  <img id="ctl00_ContentPlaceHolder1_Image2" src="http://sikkimfred.gov.in/user/images/GOVERNOR.jpg" style="height:251px; width: 240px;" />
                                     </a>
                                      
                             </div>
                               <div class="carousel-item">
                                 <a href="https://sikkim.gov.in/mygovernment/whos-who/hcm-profile">  <img id="ctl00_ContentPlaceHolder1_Image2" src="http://sikkimfred.gov.in/user/images/CM.jpg" style="height:251px; width: 240px;" />
                                 </a>
                                </div>
                               <div class="carousel-item">
                                 <a href="">  <img id="ctl00_ContentPlaceHolder1_Image2" src="http://sikkimfred.gov.in/user/images/sec.jpg" style="height:251px; width: 240px;" />
                                 </a>
                               </div>
                             </div>
                            
                           </div>     </div>
                                     
                     </div>
                   </div>
                   </div>              
       
 
 </div>
 </div>
<app-flipcard></app-flipcard>