<br/>
<br/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" >
        <a class="nav-link" [routerLink]="['/feedback-report']">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">Feedback</span>
        </a>
      </li>
      <li class="nav-item active" data-toggle="tooltip" data-placement="right">
        <a class="nav-link" [routerLink]="['/ddo-report']">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">DDO Request</span>
        </a>
      </li>
     
      <li class="nav-item" data-toggle="tooltip" data-placement="right" >
        <a class="nav-link" [routerLink]="['/rco-report']">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">RCO Request</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          New Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a [routerLink]="['/super-admin-users']" class="dropdown-item">Super Admin</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['/ddo-users']" class="dropdown-item">DDO </a>

          <div class="dropdown-divider"></div>
          <a [routerLink]="['/rco-users']" class="dropdown-item">MIS/HOD/RCO</a>


        </div>
      </li>




      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a [routerLink]="['/Admin-Login']" class="dropdown-item">Resource Allocation</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['/DDO-Registeration']" class="dropdown-item">Receipt of Fund Statement </a>

          <div class="dropdown-divider"></div>
          <a [routerLink]="['/RCO-Registeration']" class="dropdown-item">Stmt of Resource Released</a>

          <div class="dropdown-divider"></div>


        <a [routerLink]="['/Admin-Login']" class="dropdown-item">Monthly Resource Releases</a>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/DDO-Registeration']" class="dropdown-item">Statement of Fund Surrender </a>

        <div class="dropdown-divider"></div>
        <a [routerLink]="['/RCO-Registeration']" class="dropdown-item">Re-appropriation of Fund Statement</a>

        <div class="dropdown-divider"></div>



  <a [routerLink]="['/Admin-Login']" class="dropdown-item">Scheme wise Info Status of Fund</a>
  <div class="dropdown-divider"></div>
  <a [routerLink]="['/DDO-Registeration']" class="dropdown-item">Budget Head DDO Mapping </a>

  <div class="dropdown-divider"></div>
  <a [routerLink]="['/RCO-Registeration']" class="dropdown-item">Expenditure Statement</a>

  <div class="dropdown-divider"></div>



  <a [routerLink]="['/Admin-Login']" class="dropdown-item">Sanctionwise Analysis DDO Wise</a>
  <div class="dropdown-divider"></div>
  <a [routerLink]="['/DDO-Registeration']" class="dropdown-item">Report IT Deduction </a>

  <div class="dropdown-divider"></div>
  <a [routerLink]="['/RCO-Registeration']" class="dropdown-item">GST Form 7</a>


  </div>


  </li>


  <li class="nav-item" data-toggle="tooltip" data-placement="right" >
    <a class="nav-link" [routerLink]="['/sbs']">
      <i class="fa fa-fw fa-area-chart"></i>
      <span class="nav-link-text">SBS Upload</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" >
    <a class="nav-link" [routerLink]="['/New-Pdf']">
      <i class="fa fa-fw fa-area-chart"></i>
      <span class="nav-link-text">New PDF</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right">
    <a class="nav-link" [routerLink]="['/New-Notification']">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">New Notifications</span>
    </a>
  </li>



  <li class="nav-item" data-toggle="tooltip" data-placement="right">
    <a class="nav-link" [routerLink]="['/New-Notification']">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Logout</span>
    </a>
  </li>

  <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
         <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
           <i class="fa fa-fw fa-wrench"></i>
           <span class="nav-link-text">Components</span>
         </a>
         <ul class="sidenav-second-level collapse" id="collapseComponents">
           <li>
             <a href="navbar.html">Navbar</a>
           </li>
           <li>
             <a href="cards.html">Cards</a>
           </li>
         </ul>
       </li> -->
  <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
         <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
           <i class="fa fa-fw fa-file"></i>
           <span class="nav-link-text">Example Pages</span>
         </a>
         <ul class="sidenav-second-level collapse" id="collapseExamplePages">
           <li>
             <a href="login.html">Login Page</a>
           </li>
           <li>
             <a href="register.html">Registration Page</a>
           </li>
           <li>
             <a href="forgot-password.html">Forgot Password Page</a>
           </li>
           <li>
             <a href="blank.html">Blank Page</a>
           </li>
         </ul>
       </li> -->
  <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
         <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
           <i class="fa fa-fw fa-sitemap"></i>
           <span class="nav-link-text">Menu Levels</span>
         </a>
         <ul class="sidenav-second-level collapse" id="collapseMulti">
           <li>
             <a href="#">Second Level Item</a>
           </li>
           <li>
             <a href="#">Second Level Item</a>
           </li>
           <li>
             <a href="#">Second Level Item</a>
           </li>
           <li>
             <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
             <ul class="sidenav-third-level collapse" id="collapseMulti2">
               <li>
                 <a href="#">Third Level Item</a>
               </li>
               <li>
                 <a href="#">Third Level Item</a>
               </li>
               <li>
                 <a href="#">Third Level Item</a>
               </li>
             </ul>
           </li>
         </ul>
       </li> -->
  <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
         <a class="nav-link" href="#">
           <i class="fa fa-fw fa-link"></i>
           <span class="nav-link-text">Link</span>
         </a>
       </li> -->
  </ul>
  <!-- <ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
      <a class="nav-link text-center" id="sidenavToggler">
        Logout
      </a>
    </li>
  </ul> -->

  </div>
</nav>
 <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
     <br/><br/>
      <!-- Icon Cards-->
     
      <!-- Area Chart Example-->
     
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Bar Chart Card-->
         
          <!-- Card Columns Example Social Feed-->
        
        
          <!-- Example Pie Chart Card-->
          
         
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> New Notification</div>
        <div class="card-body">
         

<select name="" id="" class="form-control">
<option>Choose Category</option>
<option>Rules</option>
<option>Gazzette</option>
<option>Budget</option>
</select>
<br>


<select name="" id="" class="form-control">
<option>Choose Year</option>
<option>2020-2019</option>
<option>2019-2018</option>
<option>2018-2017</option>
</select>
<br>

<input type="file" class="form-control">



          </div>
            <div class="modal-footer">
             <a class="btn btn-primary" style="color: white" >Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
