



<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>
    
   <br/><br/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>General Circular</h3>
        </div>
    </div>
</div>

        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">2019-2020</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2018-2019</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">2017-2018</a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">2016-2017</a>
                    <a class="nav-item nav-link" id="nav-2012-tab" data-toggle="tab" href="#nav-2012" role="tab" aria-controls="nav-2012" aria-selected="false">2015-2016</a>
                    <a class="nav-item nav-link" id="nav-2011-tab" data-toggle="tab" href="#nav-2011" role="tab" aria-controls="nav-2011" aria-selected="false">2014-2015</a>
                    <a class="nav-item nav-link" id="nav-2010-tab" data-toggle="tab" href="#nav-2010" role="tab" aria-controls="nav-2010" aria-selected="false">2013-2014</a>
                    <a class="nav-item nav-link" id="nav-2009-tab" data-toggle="tab" href="#nav-2009" role="tab" aria-controls="nav-2009" aria-selected="false">2012-2013</a>
                
                </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <ul>
                <li>
                    <a href="http://sikkimfred.gov.in/Circular/Documents/New Doc 2020-01-16 12.18.44.pdf" target="_blank" style="color: Black;
                                                font-size: small;">Circular
                        <strong>: </strong>Regarding to operate the seperate bank accounts outside the Goverment Accounts for implementation
                        of variour Central and State sponsored schemes. Vide Circular No: 06/Fin/Adm Dated: 14/01/2020
                        <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
                    </a>
                </li>
            </ul>


                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      
<ul>
    <li>
        <a href="http://sikkimfred.gov.in/Circular/Documents/Circular 20190108.pdf" target="_blank" style="color: Black;
                                                            font-size: small;">Circular
            <strong>: </strong>Conduction of screening test/interview on the given schedule at Janta Bhawan,DPH, Gangtok. Vide Circular
            No: 14/Fin/Adm Dated: 05/01/2019
            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
        </a>
    </li>
</ul>

<ul>
    <li>
        <a href="http://sikkimfred.gov.in/Circular/Documents/Circular.pdf" target="_blank" style="color: Black;
                                                            font-size: small;">Circular
            <strong>: </strong>All the Deductors i.e the authorities deducting the Income Tax under section 194-A,194-C,194-I,194-J
            of Income Tax Act 1961 and other provisions are required to file quarterly statement of Tax Deduction at Source(TDS).
            Vide Circular No: 12/Fin/Adm Dated: 10/10/2018
            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://sikkimfred.gov.in/Circular/Documents/Circular 20180918.pdf" target="_blank" style="color: Black;
                                                            font-size: small;">Circular
            <strong>: </strong>Payment of arrear of revised Pay/Advance arrears and recoveries. Vide Circular No: 9/Fin/Adm Dated:
            15/09/2018
            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://sikkimfred.gov.in/Circular/Documents/Circular 20180918 with Pay matrix levels.pdf" target="_blank" style="color: Black; font-size: small;">Circular
            <strong>: </strong>
            Pay of Government Employees was to be revised from 01.01.2016 notionallty but arrears thereof was payable from 01.01.2017.
            Vide Circular No: 8/Fin/Adm Dated: 15/09/2018
            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://sikkimfred.gov.in/Circular/Documents/TDS Training Circular.pdf" target="_blank" style="color: Black;
                                                            font-size: small;">Circular
            <strong>: </strong>The CPC-TDS (Central Processing Cell-Tax) Vaishali Ghaziabad is conducting TDS Awareness Training
            for Government Deductors. Vide Circular No: 7/Fin/Adm Dated: 08/09/2018

        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://sikkimfred.gov.in/Circular/Documents/Circular 20180719.pdf" target="_blank" style="color: Black;
                                                            font-size: small;">Circular
            <strong>: </strong>Re-structuring Plan and Non-Plan concept and overall financing of the state budget. Vide Circular
            No: 03/Fin/Adm Dated: 29/06/2018

        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://sikkimfred.gov.in/Circular/Documents/Circular Forms 20180719.pdf" target="_blank" style="color: Black;
                                                                    font-size: small;">Forms
            <strong>: </strong>Forms for the monthly expenditure and revenue receipts
        </a>
    </li>
</ul>

                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        
                        <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular 20180104.pdf" target="_blank" style="color: Black;
                                    font-size: small;">Circular<strong>:</strong>Acceptance Of Bank Gurantee TDRs/FDRs
                                    Vide Circular No: 177/Fin/Adm/10-11/pt-II/46/ Dated: 03/01/2018
                                    <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/circular.jpg" target="_blank" style="color: Black;
                                    font-size: small;">Circular<strong>:</strong>Implementation of recommendations of
                                    7th Central Pay Commission relating to grant of revised allowances to Central Governmant
                                    Employees vide circular number: 38/Fin/Adm dated: 12 August 2017 </a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular Regarding GST.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Circular<strong>:</strong>Central Goods
                                    And Service Tax Act, 2017 Shall Not Come Into Effect From 1st July 2017 vide circular
                                    No: 329/FIN/Adm Dated: 24/06/2017 </a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular 20170624.pdf" target="_blank" style="color: Black;
                                    font-size: small;">Circular<strong>:</strong> The Treasury, Pay and Accounts Offices
                                    (TP&AOs) Are Required To File Monthly Income Tax Returns In Form 24G By 15th Of
                                    The Succeeding Month vide circular No: 36/FIN/Adm/Fin/Fcd/TDS Dated: 23/06/2017
                                </a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular 20170531.pdf" target="_blank" style="color: Black;
                                    font-size: small;">Circular<strong>:</strong> The Office Memorandom No.21/Fin/Adm
                                    Dated 23/05/2017 stands withdrawn with immediate effect vide circular No: 35/FIN/Adm
                                    Dated: 23/05/2017</a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular 20170418.pdf" target="_blank" style="color: Black;
                                    font-size: small;">Circular<strong>:</strong> Office Memorandom No.06/Fin/Adm Dated
                                    21st November 2016 and Corrigendum issued vide No 155/Fin/Adm dated 1st December,
                                    2016 relating to Payment of Salaries,Pension and other personal claims electronically
                                    through banks. vide cicular No. 33/Fin/Adm. Dated 17.04.2017 </a></li>
                            </ul>

                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <p style="text-align: center">General Circular Not Available</p>
                
                    </div>
                 
                 
                 
                                <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2012" role="tabpanel" aria-labelledby="nav-2012-tab">
                    
                                        <ul>
                                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular - Instruction to DDO.pdf" target="_blank"
                                                    style="color: Black; font-size: small;">Circular<strong>:</strong>Instruction to
                                                    DDO 's For TDS Return in RPU Vers.4.3<img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28"
                                                        height="15" style="padding-left: 5px;" />
                                                </a></li>
                                            </ul>
                                     
                  </div>





                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2011" role="tabpanel" aria-labelledby="nav-2011-tab">
                    
                        <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/CIRCULAR.pdf" target="_blank" style="color: Black;
                                    font-size: small;">Circular<strong>:</strong> Central income tax deduction and returns
                                    vide no. 20/Fin/Acctt. dated 13.10.2014 </a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/AdvanceSalaryCircular2014.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Circular - Disbursement and Advance Salaries
                                    2014 vide No. 18/Fin/Adm dated 10-09-2014.</a> </li>
                            </ul>        


  </div>



  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2010" role="tabpanel" aria-labelledby="nav-2010-tab">
        <ul>
                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/AdvanceSalaryDec13.pdf" style="color: Black;
                    font-size: small;" target="_blank">Circular - Disbursement and Advance Salaries
                    for December 2013 vide No.29/Fin/Adm dated 30-11-2013.</a></li>
            </ul>
            <ul>
                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/CIRCULAR_for_advance_Salaries_2013-14.pdf"
                    style="color: Black; font-size: small;" target="_blank">Circular - Disbursement
                    and Advance Salaries 2013-14 vide No.08/Fin/Adm dated 21-09-2013.</a></li>
            </ul>
            <ul>
                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular_Muster_Roll_payment.pdf" style="color: Black;
                    font-size: small;" target="_blank">Circular - Timely payment of wages pertaining
                    to Muster Roll Employees.Dated:11-03-2013.</a></li>
            </ul>               
   
</div>





<div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2009" role="tabpanel" aria-labelledby="nav-2009-tab">
      
        <ul>
                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/Circular_Festival_Adv.pdf" target="_blank"
                    style="color: Black; font-size: small;">Circular - Festival Advance. Dated:14-09-2012.</a></li>
            </ul>
            <ul>
                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/CIRCULAR_despatch.doc files.pdf" target="_blank"
                    style="color: Black; font-size: small;">Circular - Despatch of Files.Dated:10-09-2012.
                </a></li>
            </ul>
            <ul>
                <li><a href="http://sikkimfred.gov.in/Circular/Documents/Main/CircularNewIdentificationNumber.pdf" target="_blank"
                    style="color: Black; font-size: small;">Circular For New Identification Number.
                    Dated:13-08-2012.</a></li>
            </ul>             
   
</div>


                </div>
              
              </div>
            </div>
      </div>
  <br/>
  <br/>