

<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>
    
   <br/><br/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Transfer, Promotion and Office Order</h3>
        </div>
    </div>
</div>


<br/>

        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-2020-tab" data-toggle="tab" href="#nav-2020" role="tab" aria-controls="nav-2020" aria-selected="true">2019-2020</a>
                        <a class="nav-item nav-link" id="nav-2019-tab" data-toggle="tab" href="#nav-2019" role="tab" aria-controls="nav-2019" aria-selected="true">2018-2019</a>
                        <a class="nav-item nav-link " id="nav-2018-tab" data-toggle="tab" href="#nav-2018" role="tab" aria-controls="nav-2018" aria-selected="true">2017-2018</a>
                    <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">2016-2017</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2015-2016</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">2014-2015</a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">2013-2012</a>
                    <a class="nav-item nav-link" id="nav-2012-tab" data-toggle="tab" href="#nav-2012" role="tab" aria-controls="nav-2012" aria-selected="false">2012-2013</a>
                  </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  
                  
                  
                        <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2020" role="tabpanel" aria-labelledby="nav-2020-tab">
                                <ul>
                                        <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/New Doc 2020-03-02 14.31.09_2.pdf"
                                            target="_blank" style="color: Black; font-size: small; width: 800px;">Employee of Urban Development Department Gangtok, Transfer to Department Of Personnel Gangtok.
                                            Vide Office Order No55/FIN/SSAS Dated:27.02.2020
                                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                        </li>
                                    </ul>

                                    <ul>
                                        <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/New Doc 2020-03-02 14.31.09.pdf"
                                            target="_blank" style="color: Black; font-size: small; width: 800px;">Employee of Treasury Pay And Accounts Office East, Transfer to Roads And Bridges Department South.
                                            Vide Office Order No.54/FIN/SSAS Dated:26.02.2020
                                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                        </li>
                                    </ul>

                                     <ul>
                                        <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/New Doc 2020-02-11 10.27.06.pdf"
                                            target="_blank" style="color: Black; font-size: small; width: 800px;">Officer temporarily attached to the District Hospital Mangan, as Drawing and Disbursing Officer.
                                            Vide Office Order No.123/FIN/Adm Dated:10.02.2020
                                            </a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/New Doc 2020-01-20 15.14.18.pdf"
                                            target="_blank" style="color: Black; font-size: small; width: 800px;">The following
                                            members of the Sub-ordinate Accounts Service are hereby temporarily attached to the Budget Division of Finance Department, as testing team to take up the trial budget prepration for the fiscal year 2020-21.
                                            Vide Office Order No.51/FIN/SSAS Dated:17.01.2020
                                           </a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion order of Joonon Rai and other 20190710.pdf"
                                            target="_blank" style="color: Black; font-size: small; width: 800px;">The following
                                            members of the Sub-ordinate Accounts Service in the grade-III (Junior Accountant/Cashier)
                                            are hereby promoted to Grade-II (as Accountant) of Sikkim Subordinate Accounts Service.
                                            Vide Office Order No.42/FIN/SSAS Dated:08.07.2019
                                           </a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion  of Nar Bahadur Gurung and other on officiating 20190710.pdf"
                                            target="_blank" style="color: Black; font-size: small; width: 800px;">The following
                                            members of the Sub-ordinate Accounts Service in the grade-II (Accountant/Chief Cashier)
                                            are hereby promoted to Grade-I (as Sr. Accountant) of Sikkim Subordinate Accounts
                                            Service. Vide Office Order No.41/FIN/SSAS Dated:08.07.2019
                                            </a>
                                        </li>
                                        </ul>
                              </div>
                  
                  




                              <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2019" role="tabpanel" aria-labelledby="nav-2019-tab">
                                    <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promoted as Sr Accountant.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">The Governor,
                                                on the recommendation of the Departmental Promotion Committee is pleased to promote
                                                the following members of the Sikkim Subordinate Accounts Service as Senior Accountant
                                                in Level- 14 of the Pay Matrix. Vide Office Order No.35/FIN/SSAS Dated:28.02.2019
                                               </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promoted as Accountant.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">The Governor,
                                                on the recommendation of the Departmental Promotion Committee is pleased to promote
                                                the following members of the Sikkim Subordinate Accounts Service as Accountant/Chief
                                                Cashier in Level-11 of the Pay Matrix . Vide Office Order No.34/FIN/SSAS Dated:28.02.2019
                                                </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promoted as Jr Accountant.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">The Governor,
                                                on the recommendation of the Departmental Promotion Committee is pleased to promote
                                                the following members of the Sikkim Subordinate Accounts Service as Junior Accountant/Cashier/
                                                Sr. Storekeeper in Level-9 of the Pay Matrix . Vide Office Order No.33/FIN/SSAS
                                                Dated:28.02.2019
                                                </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Office Order 2019-03-04 10.43.19.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Temporarily
                                                attached a employee for the purpose of General election 2019. Vide Office Order
                                                No.291/Fin/Adm Dated:02.02.2019
                                                </a> </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Grade II To I 2019-02-04 11.58.36.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Promotion
                                                of Grade II(Jr Accountant/ Chief Cashier) employees are Promoted to Grade I. Vide
                                                Office Order No.29/FIN/SSAS Dated:29.01.2019
                                                </a> </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Grade III To II 2019-02-04 11.58.36.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Promotion
                                                of Grade III(Jr Accountant/Cashier/Sr. Storekeeper) employees are Promoted to Grade
                                                II. Vide Office Order No.28/FIN/SSAS Dated:29.01.2019
                                                </a> </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Corrigendum to Office Order.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Corrigendum
                                                to Office Order No. 21/FIN/Acctts. Dated:17.12.2018 Vide Office Order No.23/FIN/Acctts.
                                                Dated:07.01.2019 </a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer and Posting.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer and
                                                Posting of officers under Sikkim Subordinate Accounts Service. Vide Office Order
                                                No.20/FIN/Acctts. Dated:05.12.2018 </a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Voluntary retirement.pdf" target="_blank"
                                                style="color: Black; font-size: small; width: 800px;">Junior Accountant- Voluntary
                                                retirement from service. Vide Office Order No.19/FIN/Acctts. Dated:23.11.2018 </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Distribution of works.pdf" target="_blank"
                                                style="color: Black; font-size: small; width: 800px;">In view of recent transfers
                                                and promotion in the Department, the distribution of works and assignments are hereby
                                                re-allocated as under in supersession of to all Office Orders issued on the subject.
                                                Vide Office Order No.177/Fin/Adm. Dated:23.11.2018 </a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer And Posting-11-21 12.12.05.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer and
                                                Postings of Employees Under Sikkim Subordinate Accounts Service. Vide Office Order
                                                No.18/FIN/Acctts. Dated:20.11.2018 </a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer of Menber Of SFAS 2018-11-19 11.11.28.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer of
                                                Officers. Vide Office Order No.2512/G/DOP. Dated:16.11.2018 </a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer of Junior Accountant 2018-11-19 11.16.47.pdf"
                                                target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer of
                                                Junior Accountant of Human Resource Development Department(HQ). Office Order No.17/Fin/Adm.
                                                Dated:16.11.2018 </a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Accountant To Sr Accountant.pdf" target="_blank"
                                                style="color: Black; font-size: small; width: 800px;">Promotion of members from
                                                Accountant to Sr. Accountant under Sikkim Subordinate Accounts Service. Office Order
                                                No.01/Fin/SSAS. Dated:10.04.2018
                                                </a> </li>
                                        </ul>
                                        <ul>
                                            <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Jr Accountant To Accountant.pdf" target="_blank"
                                                style="color: Black; font-size: small; width: 800px;">Promotion of members from
                                                Jr. Accountant to Accountant under Sikkim Subordinate Accounts Service. Office Order
                                                No.02/Fin/SSAS. Dated:10.04.2018
                                                </a> </li>
                                        </ul>
                                  </div>
                  






                                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2018" role="tabpanel" aria-labelledby="nav-2018-tab">
                                        <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer Order 20180104.pdf" target="_blank"
                                                    style="color: Black; font-size: small; width: 800px;">Transfer and Postings of members
                                                    under Sikkim Subordinate Accounts Service. Office Order No.14/Fin/Acct. Dated:02.01.2018
                                                    <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer Order 20180104 2.pdf" target="_blank"
                                                    style="color: Black; font-size: small; width: 800px;">Re-employ of an employee in
                                                    Sikkim Nationalized Transport Department, Siliguri Office Order No.13/Fin/SSAS.
                                                    Dated:02.01.2018
                                                    <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Office Order 20171212.pdf" target="_blank"
                                                    style="color: Black; font-size: small; width: 800px;">Invitation for the discussion
                                                    of development of new Sikkim Integrated Financial Management System (SIFMS V 2.0)
                                                    Office Order No.357/Fin/Adm. Dated:11.12.2017 </a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Corrigendum Office Order 20170826.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Corrigendum
                                                    of Office Order No.9/Fin/SSAS. Dated:19.08.2017</a> </li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer Order 20170822.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:
                                                    Transfer and postings of Members under Sikkim Subordinate Accounts Service(SSAS)
                                                    O.O. No.10/Fin/Acctt. Dated:22.08.2017 </a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transferred  Order 20170819.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:
                                                    Transfer and postings of members under Sikkim Subordinate Accounts Service(SSAS)
                                                    O.O. No.09/Fin/Acctt. Dated:19.08.2017</a> </li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer and Promotion 20170819.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Members
                                                    of the Sub-ordinate Accounts Service in the grade III (Junior Accountant/Senior
                                                    Storekeeper/Cashier) are promoted to Grade II (as Accountant) in Sikkim Subordinate
                                                    Accounts Service O.O. No.08/Fin/SSAS. Dated:19.08.2017</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer and Promotion 20170820.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Members
                                                    of the Sub-ordinate Accounts Service in the grade II (Accountant/Chief Cashier)
                                                    are promoted to Grade I (as Sr. Accountant) in Sikkim Subordinate Accounts Service
                                                    O.O. No. 07/Fin/SSAS. Dated:19.08.2017</a> </li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Office Order 20170722.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Promotion
                                                    of employees under Sikkim Subordinate Accounts Service to post of Accounts Officer
                                                    O.O. No. 2449/G/DOP. Dated:21.07.2017</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Office Order 20170705.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Transfer
                                                    and postings of employees under Sikkim Subordinate Accounts Service O.O. No. 06/Fin/Acctt.
                                                    Dated:05.07.2017</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer Order 20170602.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Transfer
                                                    and postings of employees under Sikkim Subordinate Accounts Service O.O. No. 05/Fin/Acctt.
                                                    Dated:01.06.2017</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accounts Clerk 20170512.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Promotion
                                                    of grade IV Accounts Clerk/ Jr. Storekeeper to Grade III Junior Accountant/Sr. Storekeeper.
                                                    O.O. No. 04 /Fin/SSAS. Dated: 12.05.2017</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Jr.  Accountant 20170512.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Promotion
                                                    of grade III Junior Accountant/Sr. Storekeeper to Grade II Accountant/Chief Cashier
                                                    O.O. No. 04 /Fin/SSAS. Dated: 12.05.2017 O.O. No.03/Fin/SSAS. Dated: 12.05.2017</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accountant 20170512.pdf"
                                                    target="_blank" style="color: Black; font-size: small; width: 800px;">Office Order:Promotion
                                                    of grade II Accountant/Chief Cashier to Grade I Sr. Accountant. O.O. No. 02/Fin/SSAS.
                                                    Dated: 12.05.2017</a></li>
                                            </ul>
                                      </div>




                                  
                  
                    <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/corrigendum20170119.pdf"
                                        target="_blank" style="color: Black; font-size: small; width: 800px;">Corrigendum:
                                        Corrigendum to O.O. No.28/Fin/Acctt. Dated:17/01/2017<img border="0" src="http://sikkimfred.gov.in/images/new.gif"
                                            width="28" height="15" style="padding-left: 5px;" /></a> </li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer order20170119.pdf"
                                        target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer And
                                        Postings Of Member Of Sikkim Subordinate Accounts Service. vide O.O. No.28/Fin/Acctt.
                                        Dated:17/01/2017<img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                    </li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Junior accountant20161121.pdf"
                                        target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer of
                                        Jr. Accountants vide O.O. No.25/Fin/Acctt. Dated:17/11/2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/senior accountant20161121.pdf"
                                        target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer of
                                        Senior Accountants vide O.O. No.23/Fin/Acctt. Dated:17/11/2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accoutants20161121.pdf"
                                        target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer of
                                        Accountants vide O.O. No.24/Fin/Acctt. Dated:17/11/2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Account clerk20161121.pdf"
                                        target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer of
                                        Accounts Clerk vide O.O. No.26/Fin/Acctt. Dated:17/11/2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/officeorder20161001.pdf"
                                        target="_blank" style="color: Black; font-size: small; width: 800px;">Transfer of
                                        two Jr. Accountants vide O.O. No.22/Fin/SSAS. Dated:30/09/2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/promotion of employee 26.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Promotion of Accountants
                                        under Sikkim Subordinate Accounts Service vide O.O. No.21/Fin/Acctts. Dated:26/08/2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/promotion order of 29 Accountant.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Promotion of Accountants
                                        under Sikkim Subordinate Accounts Service vide O.O. No.20 /Fin/Acctts. Dated:10/08/2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer of Jr.accountant.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer of Jr. Accountant
                                        vide order No: 18/Fin/Acctts. Dated: 29.07.2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer of accountant.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer of Accountant vide
                                        order No: 17/Fin/Acctts. Dated: 22.07.2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Senior Accountants 7.6.2016.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Sr. Accountant
                                        vide order No: 07/Fin/Acctt. Dated: 07.06.2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accountants 7.6.2016.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Accountant
                                        vide order No: 08/Fin/Acctt. Dated: 07.06.2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Junior Accountants 7.6.2016.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Jr.Accountant
                                        vide order No: 09/Fin/Acctt. Dated: 07.06.2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Account clerk 7.6.2016.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Accounts
                                        Clerk vide order No: 10/Fin/Acctt Dated: 07.06.2016</a></li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/TransferorderofSonamLepchaSr.Accttandother 8.3.2016.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer and posting of
                                        members of Sikkim Subordinate Accounts Service vide order No.63/Fin/SSAS dated.
                                        08.03.2016</a> </li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Sr.Actt.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Sr. Accountant
                                        vide order No.57/Fin/Acctt dated. 04.01.2016</a> </li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Accountant.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Accountant
                                        vide order No.59/Fin/Acctt dated. 05.01.2016</a> </li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Jr.Accountant.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Jr.Accountant
                                        vide order No.58/Fin/Acctt dated. 04.01.2016</a> </li>
                                </ul>
                                <ul>
                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Accounts_Clerk.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Transfer List of Accounts
                                        Clerk vide order No.60/Fin/Acctt dated. 05.01.2016</a> </li>
                                </ul>
                  </div>




                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/TransferOrder.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                    Sikkim Subordinate and Accounts Service vide order No.50/Fin/Actt dated. 19.10.2015</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion Actt to SrActt.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Promoted to grade-I for
                                    the post of Sr. Accountants against the Limited Departmental Examination vide order
                                    No.42/Fin/SSAS dated:27-06-2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion JrActt to Actt.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Promoted to grade-II for
                                    the post of Accountants against the Limited Departmental Examination vide order
                                    No.43/Fin/SSAS dated:27-06-2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Sr.Actt1.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Sr. Accountant
                                    vide order No.29/Fin/SSAS dated. 08.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Sr.Actt2.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Sr. Accountant
                                    vide order No.30/Fin/SSAS dated. 08.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Sr.Actt3.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Sr. Accountant
                                    vide order No.31/Fin/SSAS dated. 08.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Actt1.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Accountant
                                    vide order No.26/Fin/SSAS dated. 07.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Actt2.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Accountant
                                    vide order No.27/Fin/SSAS dated. 07.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Actt3.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Accountant
                                    vide order No.28/Fin/SSAS dated. 07.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Jr.Actt1.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Jr. Accountant
                                    vide order No.22/Fin/SSAS dated. 06.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_and_Posting_of_Jr.Actt2.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Jr. Accountant
                                    vide order No.23/Fin/SSAS dated. 06.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Inter_Departmental_Transfer_AC1.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Accounts
                                    Clerk vide order No.24/Fin/SSAS dated. 06.04.2015</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Inter_Departmental_Transfer_Jr.Actt.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Transfer List of Jr. Accountant
                                    vide order No.25/Fin/SSAS dated. 06.04.2015</a> </li>
                            </ul>
                  </div>






                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                     <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_Order_of_Ms._Diki_Bhutia_ Accounts_Clerk_UDHD.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No.18/Fin/SSAS dated. 02.12.2014</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accounts_clerk_exam_2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Promoted to grade-III for
                                                        the post of Jr.Accountants against the Limited Departmental Examination quota order
                                                        No.11/Fin/SSAS dated:30.10.14</a> </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accounts_Clerk_Seniority_cum_Merit_2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Promoted to grade-III for
                                                        the post of Jr. Accountants against the Seniority quota order No.12/Fin/SSAS dated:30.10.14</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Junior_Accountant_exam_2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Promoted to grade-II for
                                                        the post of Accountants against the Limited Departmental Examination quota order
                                                        No.13/Fin/SSAS dated:30.10.14</a> </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Junior_Accountant_Seniority_cum_merit_2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Promoted to grade-II for
                                                        the post of Accountants against the Seniority quota order No.14/Fin/SSAS dated:30.10.14</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accountant_to_Sr._Accountant_Exam_2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Promoted to grade-I for
                                                        the post of Sr. Accountants against the Limited Departmental Examination quota order
                                                        No.15/Fin/SSAS dated:30.10.14</a> </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Accountant_to_Sr._Accountant_Seniority _2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Promoted to grade-I for
                                                        the post of Sr. Accountants against the Seniority quota order No.16/Fin/SSAS dated:30.10.14</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_Order_August 2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No.03/Fin/SSAS dated. 14.08.2014</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/TransferOrderOfSSAS_Member 24.2.2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No.159/Fin/SSAS dated. 24.02.2014</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/TransferOrdeDated6-02-2014.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No.158/Fin/SSAS dated. 6.02.2014</a>
                                                    </li>
                                                </ul>
                  </div>






                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                      <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/TRANSFER_ORDER_DEC_2013.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No.153/Fin/SSAS dated. 10.12.2013</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/TransferOrderOfSSASon6.9.2013.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No.150/Fin/SSAS dated. 06.09.2013</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer_Order_No_5.pdf" target="_blank"
                                                        style="color: Black; font-size: small;">Transfer of the member of Sikkim Subordinate
                                                        and Accounts Service order No.05 /Fin/SSAS dated. 04.07.2013</a> </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer_Order_No_4.pdf" target="_blank"
                                                        style="color: Black; font-size: small;">Transfer of the member of Sikkim Subordinate
                                                        and Accounts Service order No.04/Fin/Acctt. dated:01.07.2013</a> </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/Transfer_Order_oo_NO_03__DATED_27.6.13_PDF.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No. 03/Fin/SSAS dated:27-06-2013 </a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/OO 02.pdf" target="_blank"
                                                        style="color: Black; font-size: small;">Transfer of the member of Sikkim Subordinate
                                                        and Accounts Service order No. 02/Fin/SSAS dated:04-06-2013 </a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Transfer_Dated_18-05-13.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">Transfer of the member of
                                                        Sikkim Subordinate and Accounts Service order No.01/Fin/SSAS dated:18-05-2013 </a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/transfer_order_dt.13.3.2013.pdf"
                                                        target="_blank" style="color: Black; font-size: small;">The Inter- Departmental
                                                        transfer of the following members of Sikkim Subordinate and Accounts Service order
                                                        No. 21/Fin/SSAS dated:13-03-2013 </a></li>
                                                </ul>
                </div>
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2012" role="tabpanel" aria-labelledby="nav-2012-tab">
                   
                        <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/PromotionOf_Jr_Actt_by Examination.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Promoted to grade-II for
                                    the post of Accountants against the Limited Departmental Examination quota order
                                    No.17/Fin/SSAS dated:26-12-2012</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion_by_Seniority_Quota.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Promoted to grade-III for
                                    the post of Jr. Accountants against the Seniority quota order No.16/Fin/SSAS dated:26-12-2012</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion_by_examination.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Promoted to grade-III for
                                    the post of Jr. Accountants against the Limited Departmental Examination quota order
                                    No.15/Fin/SSAS dated:26-12-2012</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion Against Seniority Quota.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Promoted to grade-I for
                                    the post of Senior Accountants. Dated:30-11-2012 </a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Transfer_Promotion_Documents/Promotion against limited departmental Examination.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Promoted to grade-I for
                                    the post of Senior Accountants. Dated:30-11-2012</a> </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/TransferOrderSSASPart-I.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Transfer Order - SSAS Part-I Dated:17-09-2012.</a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/TransferOrderSSASPartIIUpdated.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Transfer Order - SSAS Part-II Dated:17-092012.</a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/TransferListOfSSAS_Aug_2012.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Transfer List SSAS Dated:24-08-2012.</a></li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/Employees Corner/Documents/General_transfer_of_July_2012.pdf" target="_blank"
                                    style="color: Black; font-size: small;">Transfer List SSAS Dated:4-07-2012. </a>
                                </li>
                            </ul>
                  </div>



                

                    


                </div>
              
              </div>
            </div>
      </div>
  <br/>
  <br/>