<br/>
<br/>
<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <p>The mandate of the Department of Financial Services covers the functioning of Banks, Financial Institutions, Insurance
        Companies and the National Pension System. The Department is headed by the Finance Secretary who is assisted by three
        Additional Secretary (AS), six Joint Secretaries (JS), two Economic Advisers (EA) and a Deputy Director General (DDG).</p>
    <p>The Department of Financial Services (DFS) oversees several key programs/initiatives and reforms of the Government concerning
        the Banking Sector, the Insurance Sector and the Pension Sector in India. Initiatives and reforms relating to Financial
        Inclusion, Social Security, and Insurance as a Risk Transfer mechanism; Credit Flow to the key sectors of the economy/
        farmers/ common man are some of the key focus areas being dealt by the Department. The key flagship schemes being
        currently run/managed by the Department include the Pradhan Mantri Jan Dhan Yojana (PMJDY), Pradhan Mantri Suraksha
        Bima Yojana (PMSBY), Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY), Pradhan Mantri Mudra Yojana (PMMY), Atal Pension
        Yojana (APY), Pradhan Mantri Vaya Vandana Yojana (PMVVY) and the Stand Up India Scheme.</p>
    <p>The Department provides policy support to the Public Sector banks (PSBs), Public Sector Insurance Companies (PSICs) and
        Development Financial Institutions (DFIs) like National Bank for Agriculture and Rural Development (NABARD), Small
        Industries Development Bank of India (SIDBI), India Infrastructure Finance Company Ltd. (IIFCL), National Housing
        Bank (NHB), Export-Import Bank of India (EXIM Bank), Industrial Finance Corporation of India (IFCI). It also monitors
        the performance of these PSBs, PSICs and DFIs and undertakes policy formulation in respect of the Banking and Insurance
        Sector in India. This Department deals with legislative and policy issues pertaining to the concerned regulatory
        bodies i.e. the Reserve Bank of India (RBI), the Insurance Regulatory and Development Authority of India (IRDAI)
        and the Pension Fund Regulatory and Development Authority (PFRDA). DFS also deals with the legislative framework
        relating to debt recovery.</p>
    <p>Matters relating to International Banking relations are also dealt by the Department.</p>
</div>