
<app-adminn-avbar></app-adminn-avbar>
<div class="content-wrapper">
   <div class="container-fluid">
     <!-- Breadcrumbs-->
    <br/><br/>
     <!-- Icon Cards-->
     
     <!-- Area Chart Example-->
    
     <div class="row">
       <div class="col-lg-12">
         <!-- Example Bar Chart Card-->
        
         <!-- Card Columns Example Social Feed-->
       
       
         <!-- Example Pie Chart Card-->
         
        
     <!-- Example DataTables Card-->
     <div class="card mb-3">
       <div class="card-header">
         <i class="fa fa-table"></i>Reports</div>
       <div class="card-body">
        

<select name="" id="" class="form-control">
<option>Choose Category</option>
</select>
<br>


<select name="" id="" class="form-control">
    <option>Choose Financial Year</option>
    </select>

    <br>
<div>
    <p>From Date</p> 
    <input type="date" name="" id="" class="form-control"><br>
</div>
    
<div>
    <p>To Date</p> 
    <input type="date" name="" id="" class="form-control"><br>
</div>
<select name="" id="" class="form-control">
    <option>Choose Plan / No Plan</option>
    </select>



         </div>
           <div class="modal-footer">
            <a class="btn btn-primary" style="color: white" >Show Report</a>
         </div>
       </div>
     </div>
   </div>
 </div>
