
<br/><br/>
<main>
    <section class="section section-shaped section-lg">
      <div class="container">
        <h2 style="color:red">Downloadable Forms</h2>
                   
        <table class="table table-bordered">
                <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            width: 80px; height: 35px;font-weight: bold" class="style1">
                            SL.No.
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;
                            text-align: center; width: 910px;font-weight: bold" class="style1">
                            Subject
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1.5px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            1
                        </td>
                        <td style="border-top: solid 1.5px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/form_nomination.pdf"
                                target="_blank" style="color: Black; text-align: left;">Application Form for Nomination
                            </a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            2
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/General_Provident_Fund.pdf"
                                target="_blank" style="color: Black; text-align: left;">Application Form for admission
                                to General Provident Fund </a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            3
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Contigent_Bill For_Advance.pdf"
                                target="_blank" style="color: Black; text-align: left;">Contingent Bill for Advance
                            </a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            4
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Contigent_Bill.pdf"
                                target="_blank" style="color: Black; text-align: left;">Contingent Bill</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            5
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Detailed_Contigent_Bill.pdf"
                                target="_blank" style="color: Black; text-align: left;">Detailed Contingent Bill</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            6
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Certificate Of Reduction of Tax At Source From Payment of Dealers.pdf"
                                target="_blank" style="color: Black; text-align: left;">Certificate Of Reduction
                                of Tax At Source From Payment of Dealers </a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            7
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Deduction Showing Sales Tax_ Income Tax Form.pdf"
                                target="_blank" style="color: Black; text-align: left;">Deduction Showing Sales
                                Tax/ Income Tax Form</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            8
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Transfer Entry Form.pdf"
                                target="_blank" style="color: Black; text-align: left;">Transfer Entry Form</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            9
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Application Form for leave or for Extension of leave .pdf"
                                target="_blank" style="color: Black; text-align: left;">Application Form for leave
                                or for Extension of leave </a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            10
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Application for Non-Refundable withdrawal from General Provident Fund .pdf"
                                target="_blank" style="color: Black; text-align: left;">Application for Non-Refundable
                                withdrawal from General Provident Fund</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            11
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Application for Temporary advance from General Provident Fund.pdf"
                                target="_blank" style="color: Black; text-align: left;">Application for Temporary
                                advance from General Provident Fund</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            12
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Form of Application for Medical Claims.pdf"
                                target="_blank" style="color: Black; text-align: left;">Form of Application for
                                Medical Claims</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            13
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Certificate of Transfer of Charge.pdf"
                                target="_blank" style="color: Black; text-align: left;">Certificate of Transfer
                                of Charge </a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            14
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Attestation Form.pdf"
                                target="_blank" style="color: Black; text-align: left;">Attestation Form</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            15
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Form of Utilisation Certificate GFR-19-B.pdf"
                                target="_blank" style="color: Black; text-align: left;">Form of Utilisation Certificate
                                GFR-19-B</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            16
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Sanction order for final withdrawal of General Provident Fund.pdf"
                                target="_blank" style="color: Black; text-align: left;">Sanction order for final
                                withdrawal of General Provident Fund</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            17
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Application for Final Payment_Transfer.pdf"
                                target="_blank" style="color: Black; text-align: left;">Application for Final Payment/Transfer</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            18
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Application for final payment of balance in the provident fund account of a deceased government employee.pdf"
                                target="_blank" style="color: Black; text-align: left;">Application for final payment
                                of balance in the provident fund account of a deceased government employee</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            19
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Application for conversion of the advance into a non-refundable withdrawals.pdf"
                                target="_blank" style="color: Black; text-align: left;">Application for conversion
                                of the advance into a non-refundable withdrawals</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            20
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Register of Grants to be maintained by the sanctioning Authority.pdf"
                                target="_blank" style="color: Black; text-align: left;">Register of Grants to be
                                maintained by the sanctioning Authority</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            21
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Stock Register of Consumables such as Stationery, Chemical, Spare  Parts, etc.pdf"
                                target="_blank" style="color: Black; text-align: left;">Stock Register of Consumables
                                such as Stationery, Chemical, Spare Parts, etc</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            22
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Register of Fixed Assets.pdf"
                                target="_blank" style="color: Black; text-align: left;">Register of Fixed Assets</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            23
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Register of valuables.pdf"
                                target="_blank" style="color: Black; text-align: left;">Register of valuables </a>
                            </li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px;">
                            24
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Liability Register (Modified).pdf"
                                target="_blank" style="color: Black; text-align: left;">Liability Register (Modified)</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px; ">
                            25
                        </td>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;
                           ">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Form of Utilisation Certificate GFR-19-A.pdf"
                                target="_blank" style="color: Black; text-align: left;">Form of Utilisation Certificate
                                GFR-19-A</a></li>
                        </td>
                    </tr>
                        <tr>
                        <td style="border-top: solid 1px black; border-left: solid 1px black; text-align: center;
                            height: 30px; border-bottom: solid 1px black;">
                            26
                        </td>
                        <td style=" border-left: solid 1px black; border-right: solid 1px black;
                            border-bottom: solid 1px black;">
                            <li style="padding-left: 5px; color: White;"><a href="http://sikkimfred.gov.in/Forms/Documents/Life Certificatre New Doc 2019-11-22 10.43.04.pdf"
                                target="_blank" style="color: Black; text-align: left;">Life Certificate Form</a></li>
                        </td>
                    </tr>
                </table>
            
      </div>
      
    </section>
  </main>
  <br/><br/>