<br/><br/>
<style>

        #a {
           display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          font-size: 16px;
          font-family: 'proxima nova', 'open sans', 'Helvetica', sans-serif;
        }
        .Marquee {
          background:whitesmoke;
             
          border: solid 1px #e8e8e8;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); width: 85vw;
          box-sizing: border-box;
          padding: 1em;
          color: #fff;
          font-weight: 200;
          display: flex;
          align-items: center;
          overflow: hidden;
        }
        .Marquee-content {
          display: flex;
          animation: marquee 10s linear infinite running;
        }
        .Marquee-content:hover {
          animation-play-state: paused;
        }
        .Marquee-tag {
          width: 200px;
          margin: 0 0.5em;
          padding: 0.5em;
          background: transparent;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;
        }
        .Marquee-tag:hover {
          background: rgba(255,255,255,0.5);
          transform: scale(1.1);
          cursor: pointer;
        }
        @-moz-keyframes marquee {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translate(-50%);
          }
        }
        @-webkit-keyframes marquee {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translate(-50%);
          }
        }
        @-o-keyframes marquee {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translate(-50%);
          }
        }
        @keyframes marquee {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translate(-50%);
          }
        }
        
        
        </style>
        <div id="a">
 <div class="Marquee">
        <div class="Marquee-content">
         
          <div class="Marquee-tag"><a href="https://indiacode.nic.in " target="_blank">  <img id="ctl00_ContentPlaceHolder1_Image2" src="https://finmin.nic.in/sites/default/files/logo_indian_code.jpg" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag"><a href="http://pgportal.gov.in/ " target="_blank">  <img id="ctl00_ContentPlaceHolder1_Image1" src="https://finmin.nic.in/sites/default/files/pg-portal_0.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag"> <a href="https://eci.gov.in/ " target="_blank">  <img id="ctl00_ContentPlaceHolder1_Image3" src="https://finmin.nic.in/sites/default/files/eci.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag">   <a href="http://evisitors.nic.in/ " target="_blank"> <img id="ctl00_ContentPlaceHolder1_Image2" src="https://finmin.nic.in/sites/default/files/myvisit-logo_0.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag">   <a href="http://egazette.nic.in/ " target="_blank">   <img id="ctl00_ContentPlaceHolder1_Image1" src="https://finmin.nic.in/sites/default/files/e-gazette_0.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag">  <a href="http://india.gov.in/ " target="_blank">   <img id="ctl00_ContentPlaceHolder1_Image3" src="https://finmin.nic.in/sites/default/files/india-gov.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag">   <a href="https://mygov.in/ " target="_blank">     <img id="ctl00_ContentPlaceHolder1_Image2" src="https://finmin.nic.in/sites/default/files/mygov.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag">  <a href="https://pmnrf.gov.in/ " target="_blank">    <img id="ctl00_ContentPlaceHolder1_Image1" src="https://finmin.nic.in/sites/default/files/pmnrf.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag">    <a href="http://www.digitalindia.gov.in/ " target="_blank">   <img id="ctl00_ContentPlaceHolder1_Image3" src="https://finmin.nic.in/sites/default/files/digital-India-logo.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
          <div class="Marquee-tag"> <a href="http://www.makeinindia.com/home " target="_blank">    <img id="ctl00_ContentPlaceHolder1_Image2" src="https://finmin.nic.in/sites/default/files/makeinindia.png" style="height:100px; width: 100px; margin-right: 20px" /></a>
          </div>
      
        </div>
      </div>
    </div>
      <br/><br/> 
      <hr style="background-color:#36DAEA;height:4px;margin:0px"/>
        