

<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>
    
   <br/><br/>
<!-- 
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Gazette</h3>
        </div>
    </div>
</div> -->

        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">D.A Enhancement</a>
                    
                </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/0_22.pdf" target="_blank" style="color: Black; text-align: center;">
                                    DA Enhancement 0 % to 22 %</a>&nbsp; w.e.f&nbsp; 01-01-2006- 01-01-2009&nbsp;
                                </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/22_27.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    22 % to 27 %</a> w.e.f 01-07-2009</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/27_35.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    27 % to 35 %</a> w.e.f 01-01-2010</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/35_45.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    35 % to 45 %</a> w.e.f 01-07-2010</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/45_51.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    45 % to 51 %</a> w.e.f 01-01-2011</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/51_58.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    51 % to 58 %</a> w.e.f 01-07-2011</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/user/Documents/58_65.pdf" target="_blank" style="color: Black;">DA Enhancement
                                    58 % to 65 %</a> w.e.f 01-01-2012</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A.NEW 65-72.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 65 % to 72 %</a> w.e.f 01-07-2012</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA_and_DR_Circular_enhancement_from_72-80.pdf"
                                    target="_blank" style="color: Black;">DA Enhancement 72 % to 80 %</a> w.e.f 01-01-2013</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A.NEW_80_90_dt_261013.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 80 % to 90 %</a>
                                    w.e.f 01-07-2013</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A90_100dt12914.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 90 % to 100 % </a>&nbsp;w.e.f 01-01-2014</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/D.A.NEW 100-107dt 281014.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 100 % to 107 % </a>&nbsp;w.e.f 01-07-2014</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular 22052015.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 107 % to 113 % </a>&nbsp;w.e.f 01-01-2015</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular12_02_16.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 113 % to 119 % </a>&nbsp;w.e.f 01-07-2015</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular20160523.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 119 % to 125 % </a>&nbsp;w.e.f 01-01-2016</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 125 % to 132 % </a>&nbsp;w.e.f 01-07-2016</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA 136.pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 132 % to 136 % </a>&nbsp;w.e.f 01-01-2017</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA_Circular_wef_1_7_17.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 136 % to 139 % </a>&nbsp;w.e.f 01-07-2017</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/New Doc 2018-06-07.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 139 % to 142 % </a>&nbsp;w.e.f 01-01-2018</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular (15-09-18)_1.pdf" target="_blank"
                                    style="color: Black;">Revised DA Enhancement From 01/01/2016 </a>
                                    </li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Circular (1).pdf" target="_blank" style="color: Black;">
                                    DA Enhancement 142 % to 148 % </a>&nbsp;w.e.f 01-07-2018</li>
                            </ul>
                            <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Jan -June20190729.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 148 % to 154 % </a>&nbsp;w.e.f 01-01-2019</li>
                            </ul>
                             <ul>
                                <li><a href="http://sikkimfred.gov.in/DA Enhancement/Documents/DA Enhancement 154 to 164.pdf" target="_blank"
                                    style="color: Black;">DA Enhancement 154 % to 164 % </a>&nbsp;w.e.f 01-07-2019<img
                                        border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></li>
                            </ul>


                  </div>
                 
                
                 
                 
                





                </div>
              
              </div>
            </div>
      </div>
  <br/>
  <br/>