

<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>
    
   <br/><br/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>General Circular</h3>
        </div>
    </div>
</div>

        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pension Rules</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Revised Pension Rules</a>
                      
                </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               
                    
                       
                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      
<a href="http://sikkimfred.gov.in/User/Documents/RevisedPENSION.pdf">
    View Revised Pension Rules
</a>

                  </div>
                 
                 
                 
                 
                


                </div>
              
              </div>
            </div>
      </div>
  <br/>
  <br/>