
<app-adminn-avbar></app-adminn-avbar>
 <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
     <br/><br/>
      <!-- Icon Cards-->
      
      <!-- Area Chart Example-->
     
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Bar Chart Card-->
         
          <!-- Card Columns Example Social Feed-->
        
        
          <!-- Example Pie Chart Card-->
          
         
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> SBS Upload</div>
        <div class="card-body">
         

<select name="" id="" class="form-control">
<option>Choose Category</option>
<option>Reciept</option>
<option>Payment</option>
</select>
<br>

<input type="file" class="form-control">



          </div>
            <div class="modal-footer">
             <a class="btn btn-primary" style="color: white" >Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
