



<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>
    
   <br/><br/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Office Memorandum</h3>
        </div>
    </div>
</div>

        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">2019-2020</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2018-2019</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">2017-2018</a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">2016-2017</a>
                    <a class="nav-item nav-link" id="nav-2012-tab" data-toggle="tab" href="#nav-2012" role="tab" aria-controls="nav-2012" aria-selected="false">2015-2016</a>
                    <a class="nav-item nav-link" id="nav-2011-tab" data-toggle="tab" href="#nav-2011" role="tab" aria-controls="nav-2011" aria-selected="false">2014-2015</a>
                    <a class="nav-item nav-link" id="nav-2010-tab" data-toggle="tab" href="#nav-2010" role="tab" aria-controls="nav-2010" aria-selected="false">2013-2014</a>
                    <a class="nav-item nav-link" id="nav-2009-tab" data-toggle="tab" href="#nav-2009" role="tab" aria-controls="nav-2009" aria-selected="false">2012-2013</a>
                
                </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               
                        <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office Memorandum 2019-11-22 10.51.22.pdf"
                                        target="_blank" style="color: Black; font-size: small;">
                                        Office Memorandum: 
                                   Implementation of Government's decision on the recommendation of the Pay Committee-revision of provisions regulating pension / gratuity / family pension / commutation of pension etc.
                                        <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                    </li>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OfficeMemorandum20190814.pdf"
                                        target="_blank" style="color: Black; font-size: small;">
                                        Office Memorandum: 
                                   The Government of Sikkim is pleased to allow payment of arrear accruing to the Government Employees/Pensioners 
                                   on account of revision of Pay & Pension w.e.f. 01.01.2016 to 31.08.2018 all in one time 
                                        </a>
                                    </li>
                                 
                                  <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Corrigendum.pdf"
                                        target="_blank" style="color: Black; font-size: small;">
                                        Corrigendum  
                                    </a>
                                    </li>

                                    
                                </ul>


                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      

                        <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office Memorandum 20181220.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Office Memorandum: The State Government has decided to implement the e-receipt of court fees by the petitioners on all judicial courts in Sikkim. Vide No.22/Fin/Accts Dated 20-12-2018  <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                    </li>
                                 <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office memorandum (27-09-2018).pdf"
                                        target="_blank" style="color: Black; font-size: small;">Office Memorandum: Second Supplementary Demand For Grants 2018-19. Vide No.1(1)1986-87/Bud/234 Dated 27-09-2018  <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                    </li>
                                 <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office Memo 20180918.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Office Memorandum: The Recommendations of the Pay Committe as accepted by the Government. Vide No.233/Fin/Adm Dated 14-09-2018  <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                    </li>
                                    <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM for Excess 2011-12.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Office Memorandum: Excess Demand of Grants 2011-12 and Supplementary Demands for Grants 2018-19. Vide No.1(1) 1986-87/Bud/Fin/229 Dated 20-07-2018  <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a>
                                    </li>

                                    <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office Meno GST.pdf"
                                        target="_blank" style="color: Black; font-size: small;">Office Memorandum with the implementation of Goods and Services Tax by Government of India. vide no.227/Fin/Adm Dated 05-06-2018  </a>
                                    </li>
                                </ul>

                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        
                        <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM dated 17-03-2018.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: Demand for Grants 2018-19(March 2018) vide No:1(1)1986-87/Bud/Fin/34 Dated:17/03/2018
                                    <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
                                </a></li>
                            </ul>
                              <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/SecondSupplOfficeMemo.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: Second Supplementary Demand for Grants  vide No:1(1)1986-87/Bud/30 Dated:02/02/2018
                                    
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office Memo 20170921.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: Goods and Service Tax vide No:24/FIN/ACCTT/2017-18 Dated:21/09/2017
                                   
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM 1st Supplementary 2017-18.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: First
                                    Supplementary Demands For Grants vide No:1(1)1986-87/Bud/320 Dated:11/09/2017
                                   
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office Momorandum 20170505.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: In continuation
                                    of office memorandum No 15/Fin/Adm and Dated:25/03/2017 vide No:18/Fin/Adm Dated:2/05/2017
                                    
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM Third suplementary.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: Third
                                    Suplementary Demand for Grants 2016-17 and Demand for Grants 2017-18 Vide no: 15/Fin/Adm
                                    Dated:25/03/2017
                                    
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office Memo Plan- Non-Plan20170328.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: Guidelines
                                    to do away with the long standing practice of classifying expenditure under 'Plan
                                    and Non-Plan' for preparation of Annual Budget, 2017-18 Vide no: 15/Fin/Adm Dated:25/03/2017
                                    
                                </a></li>
                            </ul>
                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/office meno20170201.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Sevral Instructions Regarding
                                    Misclassification of Receipts and Adjustments in Government Accounts. Vide no: 11/Adm/Fin
                                    Dated:31/01/2017
                                    <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Officemomo20161229.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Regarding not conciling
                                    receipts and expenditure figure. Vide no: 759/fin/acctts/(GOS/FIN/ADM/B-190/2012
                                    Dated:28/12/2016
                                    
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/memorandam20161205.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Corrigendum to OM no: 06/fin/adm
                                    dated:21/11/2016 vide no.155/FIN/ADM Dated 01/12/2016.
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/CONTINUATIONOFOM06FINADM.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Continuation of Office Memorandum
                                    vide no.06/FIN/ADM Dated 21/11/16.
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM 2nd Supp 2016-17.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum on Second
                                    Supplementary Grants for 2016-17 (Nov 2016) vide no.1(1)1986-87/Bud/197 Dated 23/11/2016.
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM_REGARDING_FUND_TRANSFER.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum on Fund
                                    Transfer vide no.GOS/fin/Adm/B-190/2012/05 Dated 16/11/16.
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM_PAYMENTOFSALANDOTHERCLAIMS.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum on Mandatory
                                    Payment of salaries and other claims through bank account vide no.06/FIN/ADM Dated
                                    21/11/16.
                                </a></li>
                            </ul>
                            <ul>
                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Office_Memorandum_14-07-16.pdf"
                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum on First
                                    Supplementary Grants for 2016-17 ( July 2016) vide no.1(1) 1986-87/Bud/15 Dated
                                    12/07/16.
                                </a></li>
                            </ul>
                
                    </div>
                 
                 
                 
                                <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2012" role="tabpanel" aria-labelledby="nav-2012-tab">
                                        <ul>
                                                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM_VOA_2015-16.pdf"
                                                    target="_blank" style="color: Black; font-size: small;">Office Memorandum on Vote
                                                    on Account for the financial year 2015-16 vide no.02/Bud/Fin dated 04-04-2015 </a>
                                                </li>
                                            </ul>
                                     
                  </div>





                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2011" role="tabpanel" aria-labelledby="nav-2011-tab">
                    
                        <p style="text-align: center">Office Memorandum Not Available</p>
                      


  </div>



  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2010" role="tabpanel" aria-labelledby="nav-2010-tab">
        <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OM_Instructions_on_SIFMS-II.pdf"
                    target="_blank" style="color: Black; font-size: small;">Office Memorandum on Instruction
                    on SIFMS-II vide No.4(370)/2009-10/Fin/37 Dated:24-05-2013 </a></li>
            </ul>
            <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OFFICE MEMORANDUM_Dt_10-04-13.pdf"
                    target="_blank" style="color: Black; font-size: small;">Office Memorandum: Revised
                    guidelines for drawal of advances, submission of detailed contigent bills for adjustment
                    of advances - regarding.Dated:10-04-2013</a></li>
            </ul>
            <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/Forms_Abstract_Contigent_Bill.pdf"
                    target="_blank" style="color: Black; font-size: small;">Click here to download Abstract
                    Contigent & Detailed Contigent Form. </a></li>
            </ul>
            <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/O.M. OF DECLARATION OF WORKS DEPTT.pdf"
                    target="_blank" style="color: Black; font-size: small;">Office Declaration of WORKS
                    Departments.Dated:15-04-2013</a></li>
            </ul>
            <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/10_BandOnPlan-NonPlan_Withdrawn.pdf"
                    target="_blank" style="color: Black; font-size: small;">10% cut on Plan/Non-Plan
                    withdrawn.Dated:28-01-2013 </a></li>
            </ul>             
   
</div>





<div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2009" role="tabpanel" aria-labelledby="nav-2009-tab">
      
        <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OFFICE MEMORANDUM  SIFMS.pdf"
                    target="_blank" style="color: Black; font-size: small;">Office memorandum on implementation
                    of SIFMS.Dated:28-11-2012</a></li>
            </ul>
            <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OFFICE MEMORANDUM  SIFMS.pdf"
                    target="_blank" style="color: Black; font-size: small;">Office memorandum on implementation
                    of SIFMS.Dated:28-11-2012</a></li>
            </ul>
            <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/CorrigendumToE-tenderInstruction.pdf"
                    target="_blank" style="color: Black; font-size: small;">Corrigendum to Office Memorandum
                    No.11/FIN/ADM Dated:24.08.2012. </a></li>
            </ul>
            <ul>
                <li style="color: black;"><a href="http://sikkimfred.gov.in/Office Memorandum/Documents/OMe-tendering.pdf"
                    target="_blank" style="color: Black; font-size: small;">Mandatory publication of
                    Tender Enquries on the State Public Procurement Portal. Dated:24/08/2012. </a>
                </li>
            </ul>            
   
</div>


                </div>
              
              </div>
            </div>
      </div>
  <br/>
  <br/>