


<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>
    
   <br/><br/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Gazette</h3>
        </div>
    </div>
</div>

        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">2017-2018</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2016-2017</a>
                   
                </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               
                        <ul>
                                <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Gazette/Documents/Gazette 20180130.pdf"   target="_blank" style="color:Black; font-size:small;">Gazette -Development of New Sikkim Integrated Financial Management System (SIFMS) Version 2.0. vide Gazette No. 48/FIN/ADM Dated:06/01/2018. 
                                    <img border="0" height="15" src="http://sikkimfred.gov.in/images/new.gif" style="padding-left:5px; width:28px" /></a> 
                                </li>
                             </ul>
                            <ul>
                                <li style="color: Black;">
                                <a href="http://sikkimfred.gov.in/Gazette/Documents/Gazette.pdf"   target="_blank" style="color:Black; font-size:small;">Notification -Revise cost of Revenue Stamps and Stamps Paper in the State of Sikkim. vide Notification No. 23/FIN/ADM Dated:25/03/2017. 
                                    </a> 
                                </li>
                             </ul> 


                  </div>
                 
                 
                  <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      
                        <p style="text-align: center">Gazette Not Available</p>
                
                     

                  </div>
                 
                 
                





                </div>
              
              </div>
            </div>
      </div>
  <br/>
  <br/>