<br/>
<br/>
<main>
  <section class="section section-shaped section-lg">
    <div class="container">
      <h2 style="color:red"> Contact List- Finance Department As On 23/10/2019</h2>



      <table class="table table-bordered">
        <tr>
          <td>
            <p>
              <strong>SL.NO</strong>
            </p>
          </td>
          <td>
            <p>
              <strong>NAME</strong>
            </p>
          </td>
          <td>
            <p>
              <strong>DESIGNATION</strong>
            </p>
          </td>
          <td>
            <p>
              <strong>OFFICE/RES</strong>
            </p>
          </td>
          <td>
            <p>
              <strong>EXT.NO</strong>
            </p>
          </td>
          <td>
            <p>
              <strong>MOBILENO </strong>
            </p>
          </td>
          <td>
            <p>
              <strong>EMAIL-ID</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              1</p>
          </td>
          <td>
            SHRI V.B. PATHAK (IAS)</td>
          <td>
            <p>
              ADDL. CHIEF SECRETARY</p>
          </td>
          <td>
            <p>
              202792
            </p>
          </td>
          <td>
            <p>
              1001</p>
          </td>
          <td>
            <p>
              <span>9910203553
               
              </span>
            </p>
          </td>
          <td>
            <p>
              <a href="mailto:prs.fred@sikkim.gov.in">prs.fred@sikkim.gov.in</a>&nbsp; (O)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              2</p>
          </td>
          <td>
            SHRI M.K. SHARMA</td>
          <td>
            <p>
              CONTROLLER OF ACCOUNTS</p>
          </td>
          <td>
            <p>
              205033</p>
          </td>
          <td>
            <p>
              2092</p>
          </td>
          <td>
            <p>
              9434023993</p>
          </td>
          <td>
            <p>
              <a href="mailto:mksharma@yahoo.com">mksharma@yahoo.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              3</p>
          </td>
          <td>
            <p>
              SHRI GOVIND PSD KAUSHIK</p>
          </td>
          <td>
            <p>
              SECRETARY (REVENUE)</p>
          </td>
          <td>
            <p>
              20112</p>
          </td>
          <td>
            2156</td>
          <td>
            <p>
              9434710413</p>
          </td>
          <td>
            <p>
              <a href="mailto:govindkaushik@yahoo.com">govindkaushik@yahoo.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              4</p>
          </td>
          <td>
            <p>
              SHRI ARUNI CHOKARBORTY</p>
          </td>
          <td>
            <p>
              PR. DIRECTOR CUM SECRETARY (EXPENDITURE)</p>
          </td>
          <td>
            <p>
              209774</p>
          </td>
          <td>
            <p>
              2137</p>
          </td>
          <td>
            <p>
              9474649500</p>
          </td>
          <td>
            <p>
              aruni1961@yahoo.com</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              5</p>
          </td>
          <td>
            <p>
              SHRI BENU KR MUKHIA</p>
          </td>
          <td>
            <p>
              PR. DIRECTOR (FCD)</p>
          </td>
          <td>
            <p>
              221504</p>
          </td>
          <td>
            <p>
              2134</p>
          </td>
          <td>
            <p>
              9933054424</p>
          </td>
          <td>
            <p>
              <a href="mailto:benu@nic.in">benu@nic.in</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              6</p>
          </td>
          <td>
            <p>
              SHRI KARMA CHOPEL BHUTIA</p>
          </td>
          <td>
            <p>
              PR. DIRECTOR (ACCTTS &amp; ADMIN)</p>
          </td>
          <td>
            <p>
              201505</p>
          </td>
          <td>
            <p>
              2162</p>
          </td>
          <td>
            <p>
              ---</p>
          </td>
          <td>
            <p>
              ---</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              7</p>
          </td>
          <td>
            <p>
              SHRI KAPIL MEENA(IAS)</p>
          </td>
          <td>
            <p>
              ADDL&nbsp; SECRETARY </p>
          </td>
          <td>
            <p>
              200066</p>
          </td>
          <td>
            <p>
              2179</p>
          </td>
          <td>
            <p>
              ---</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
        </tr>
        <tr>
          <td>
            <p> 8</p>
          </td>
          <td>
            SHRI LINUS RAI</td>
          <td>
            ADDL. DIRECTOR (FCD)</td>
          <td>
            ---</td>
          <td>
            ---</td>
          <td>
            7470678705</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td>
            <p>9</p>
          </td>
          <td>
            SHRI RAJ NARAYAN PRADHAN</td>
          <td>
            ADDL. DIRECTOR (BUD)</td>
          <td>
            ---</td>
          <td>
            2150</td>
          <td>
            9733063820</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td>
            <p>
              10</p>
          </td>
          <td>
            <p>
              SMT. PERSIS G. LUCKSOM</p>
          </td>
          <td>
            <p>
              ADDL. DIRECTOR (ACCTTS)</p>
          </td>
          <td>
            <p>
              202472</p>
          </td>
          <td>
            <p>
              2118</p>
          </td>
          <td>
            <p>
              9434196337</p>
          </td>
          <td>
            <p>
              <a href="mailto:persislucksum@yahoo.com">persislucksum@yahoo.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            11</td>
          <td>
            SHRI CHOPEL TASHI LACHUNGPA</td>
          <td>
            ADDL. DIRECTOR (LOAN)</td>
          <td>
            ---</td>
          <td>
            2170</td>
          <td>
            ---</td>
          <td>
            <p>
              <a href="mailto:t-chope@yahoo.co.uk">t-chope@yahoo.co.uk</a>
            </p>

          </td>
        </tr>
        <tr>
          <td>
            <p>12</p>
          </td>
          <td>
            SHRI TASHI TSH TAMANG</td>
          <td>
            JOINT DIRECTOR (FCD)</td>
          <td>
            &nbsp;</td>
          <td>
            2106</td>
          <td>
            9434409762</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            <p>13</p>
          </td>
          <td>
            MS. ARPANA RAI</td>
          <td>
            JOINT DIRECTOR (BUDGET)</td>
          <td>
            207553</td>
          <td>
            2138</td>
          <td>
            9800712550</td>
          <td>
            <a href="mailto:t-chope@yahoo.co.uk">arpana03@gmail.com</a>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              14</p>
          </td>
          <td>
            <p>
              &nbsp;SHRI D W BHUTIA</p>
          </td>
          <td>
            <p>
              DEPUTY SECRETARY (Adm)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              2178</p>
          </td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            <p>
              15</p>
          </td>
          <td>
            <p>
              MS. CHUMDEN KACHOPA</p>
          </td>
          <td>
            <p>
              SR PRIVATE SECY. TO C.A</p>
          </td>
          <td>
            <p>
              205033</p>
          </td>
          <td>
            <p>
              2091</p>
          </td>
          <td>
            <p>
              8016272413</p>
          </td>
          <td>
            <p>
              <a href="mailto:kachopachumden@gmail.com">kachopachumden@gmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              16</p>
          </td>
          <td>
            <p>
              SMT. TSHEWANG L. BHUTIA</p>
          </td>
          <td>
            <p>
              SR P.S. TO ACS</p>
          </td>
          <td>
            <p>
              202792</p>
          </td>
          <td>
            <p>
              1075</p>
          </td>
          <td>
            <p>
              9775164415</p>
          </td>
          <td>
            <p>
              <a href="mailto:tshewanglhamu@gmail.com">tshewanglhamu@gmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              17</p>
          </td>
          <td>
            <p>
              SHRI P.K. CHETTRI</p>
          </td>
          <td>
            <p>
              DEPUTY DIRECTOR (DDO &amp; ACCOUNTS)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              2122</p>
          </td>
          <td>
            <p>
              9434241222</p>
          </td>
          <td>
            <p>
              p
              <a href="mailto:Pkchettri2345@gmail.com">kchettri2345@gmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>18</p>
          </td>
          <td>
            SHRI ASHOK SHARMA</td>
          <td>
            DEPUTY&nbsp; DIRECTOR(FCD)</td>
          <td>
            &nbsp;</td>
          <td>
            2098</td>
          <td>
            9434127054</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td>
            <p>
              19</p>
          </td>
          <td>
            <p>
              SHRI B.M. KARKI</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER (LOAN)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              2171</p>
          </td>
          <td>
            <p>
              9434357620</p>
          </td>
          <td>
            <p>
              <a href="mailto:karkibm@gmail.com">karkibm@gmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>20</p>
          </td>
          <td>
            SHRI RAJ KAMAL PRADHAN</td>
          <td>
            PROJECT MANAGER (SCIENTIST)</td>
          <td>
            201007</td>
          <td>
            2110</td>
          <td>
            9475513608</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            <p>
              21</p>
          </td>
          <td>
            <p>
              SHRI RAJEN CHETTRI</p>
          </td>
          <td>
            <p>
              DEPUTY DIRECTOR (IT)</p>
          </td>
          <td>
            <p>
              201007</p>
          </td>
          <td>
            <p>
              2078</p>
          </td>
          <td>
            <p>
              9474531378</p>
          </td>
          <td>
            <p>
              <a href="mailto:karkibm@gmail.com">sairaj19.c</a>hettri@gmail.com</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              22</p>
          </td>
          <td>
            <p>
              SMT. ANJALI RAI</p>
          </td>
          <td>
            <p>
              P.S. TO SECRETARY (REVENUE)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              2136</p>
          </td>
          <td>
            <p>
              9593972208</p>
          </td>
          <td>
            <p>
              <a href="mailto:karkibm@gmail.com">anniegtk@gmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              23</p>
          </td>
          <td>
            <p>
              SMT. THINLEY ONGMU</p>
          </td>
          <td>
            <p>
              P.S TO PR DIRECTOR CUM SECTY(EXPDT)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              2130</p>
          </td>
          <td>
            <p>
              9564841177</p>
          </td>
          <td>
            <p>
              <a href="mailto:thinleygtk@yahoo.com">thinleygtk@yahoo.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p> 24</p>
          </td>
          <td>
            SHRI NAWANG PINTSO BHUTIA</td>
          <td>
            ASST. DIRECTOR(BUDGET)</td>
          <td>
            ---</td>
          <td>
            2139</td>
          <td>
            7797896203</td>
          <td>
            <a href="mailto:thinleygtk@yahoo.com">nawan</a>gpbhutia@gmail.com</td>
        </tr>
        <tr>
          <td>
            <p>25</p>
          </td>
          <td>
            SHRI P. L ADHIKARI
          </td>
          <td>
            ACCOUNTS OFFICER (IT CELL &amp; SERVICE)</td>
          <td>
            ---</td>
          <td>
            2173</td>
          <td>
            9434203998</td>
          <td>
            prasant.pao@gmail.com</td>
        </tr>
        <tr>
          <td>
            <p>26</p>
          </td>
          <td>
            SMT NAMITA SHILAL</td>
          <td>
            PS TO PR. DIRECTOR (ACCTS)</td>
          <td>
            ---</td>
          <td>
            ---</td>
          <td>
            9474833469</td>
          <td>
            ---</td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="#CCCCCC">
            <p>
              <strong>PAY &amp; ACCOUNTS OFFICE</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              27</p>
          </td>
          <td>
            <p>
              B.B. SUBBA</p>
          </td>
          <td>
            <p>
              &nbsp;DIRECTOR (HQ)</p>
          </td>
          <td>
            <p>
              221228</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              9434031374</p>
          </td>
          <td>
            <p>
              <a href="mailto:sapkotadp@yahoo.com">sapkotadp@yahoo.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              28</p>
          </td>
          <td>
            <p>
              KARMA THENDUP BHUTIA</p>
          </td>
          <td>
            <p>
              DY. CP &amp; A.O (HQ)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              &nbsp;</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              29</p>
          </td>
          <td>
            <p>
              SUNITA PRADHAN</p>
          </td>
          <td>
            <p>
              CP &amp; A.O (HQ)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              9434117404</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              30</p>
          </td>
          <td>
            <p>
              JAYANT &nbsp;THAPA</p>
          </td>
          <td>
            <p>
              DY. CP &amp; A.O (HQ)</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              9475504192</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              31</p>
          </td>
          <td>
            <p>
              D P SAPKOTA</p>
          </td>
          <td>
            <p>
              ADDL. DIRECTOR (EAST/WORK CELL)</p>
          </td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
          <td>
            &nbsp;</td>
        </tr>
        <tr>
          <td>
            <p>
              32</p>
          </td>
          <td>
            <p>
              KALPANA LAMA</p>
          </td>
          <td>
            <p>
              CP &amp; A.O (EAST WORK CELL)</p>
          </td>
          <td>
            <p>
              284326</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              9434488845</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              33</p>
          </td>
          <td>
            <p>
              TARUN SHARMA</p>
          </td>
          <td>
            <p>
              DY. CP &amp; A.O (WORK CELL)</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434710229</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              34</p>
          </td>
          <td>
            <p>
              MAMTA SHARMA</p>
          </td>
          <td>
            <p>
              DY. CP &amp; A.O (WORK CELL)</p>
          </td>
          <td>
            <p>
              284326</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              9434191743</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              35</p>
          </td>
          <td>
            <p>
              SUMAN PRADHAN</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER (DAC, East)</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434136978</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              36</p>
          </td>
          <td>
            <p>
              KARMA DAWA GYATSO</p>
          </td>
          <td>
            <p>
              CHIEF PAY &amp; A.0 (SOUTH)</p>
          </td>
          <td>
            <p>
              250716</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434717847</p>
          </td>
          <td>
            <p>
              <a href="mailto:paonamchi@rediffmail.com">paonamchi@rediffmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              37</p>
          </td>
          <td>
            <p>
              SUNIL CHANDRA SHARMA</p>
          </td>
          <td>
            <p>
              DY. CPAO, SOUTH</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              7550846864</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              38</p>
          </td>
          <td>
            <p>
              TIKA RAI</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER, SOUTH</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434252883</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              39</p>
          </td>
          <td>
            <p>
              KARMA LODAY BHUTIA</p>
          </td>
          <td>
            <p>
              CPAO, NORTH</p>
          </td>
          <td>
            <p>
              234281</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              &nbsp;</p>
          </td>
          <td>
            <p>
              <a href="mailto:paonorth@rediffmail.com">paonorth@rediffmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              40</p>
          </td>
          <td>
            <p>
              THINLAY BHUTIA</p>
          </td>
          <td>
            <p>
              DY. CPAO, NORTH</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              &nbsp;</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              41</p>
          </td>
          <td>
            <p>
              C B CHETTRI</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER,NORTH</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              &nbsp;</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              42</p>
          </td>
          <td>
            <p>
              K.B.SUBBA</p>
          </td>
          <td>
            <p>
              DY. CP &amp; A.O, WEST</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9593289998</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              43</p>
          </td>
          <td>
            <p>
              G.M. SUBEDI</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER, WEST</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9733064924</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="#CCCCCC">
            <p>
              <strong>DIRECTORATE OF LOTTERIES</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              44</p>
          </td>
          <td>
            <p>
              SHERAP SHENGA</p>
          </td>
          <td>
            <p>
              DIRECTOR</p>
          </td>
          <td>
            <p>
              280227</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9593885551</p>
          </td>
          <td>
            <p>
              <a href="mailto:directorskmlottoi@gmail.com">directorskmlottoi@gmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              45</p>
          </td>
          <td>
            <p>
              N.D. BHUTIA</p>
          </td>
          <td>
            <p>
              JOINT SECRETARY</p>
          </td>
          <td>
            <p>
              280226</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              8370997988</p>
          </td>
          <td>
            <p>
              <a href="mailto:directorskmlottoi@gmail.com">directorskmlottoi@gmail.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              46</p>
          </td>
          <td>
            <p>
              BHIM BAHADUR BARDEWA</p>
          </td>
          <td>
            <p>
              SR. A.O</p>
          </td>
          <td>
            <p>
              280225</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434382226</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="#CCCCCC">
            <p>
              <strong>PENSION/GIS/GPF DIVISION</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              47</p>
          </td>
          <td>
            <p>
              MCP PRADHAN</p>
          </td>
          <td>
            <p>
              DIRECTOR</p>
          </td>
          <td>
            <p>
              209065</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              &nbsp;</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              48</p>
          </td>
          <td>
            <p>
              TARZEN SUBBA</p>
          </td>
          <td>
            <p>
              CHIEF ACCOUNTS OFFICER</p>
          </td>
          <td>
            <p>
              209065</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9475583349</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              49</p>
          </td>
          <td>
            <p>
              TASHI TAMANG</p>
          </td>
          <td>
            <p>
              SR. AO</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434409762</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              50</p>
          </td>
          <td>
            <p>
              PEMA CHEWANG</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434409190</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              51</p>
          </td>
          <td>
            <p>
              LILADHAR GHIMREY</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              7602445359</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="#CCCCCC">
            <p>
              <strong>INTERNAL AUDIT/ LOCAL FUND AUDIT</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              52</p>
          </td>
          <td>
            <p>
              L.B. RAI</p>
          </td>
          <td>
            <p>
              PRINCIPAL DIRECTOR</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434109710</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              53</p>
          </td>
          <td>
            <p>
              C.N. SHERPA</p>
          </td>
          <td>
            <p>
              CHIEF ACCOUNTS OFFICER</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9733173756</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              54</p>
          </td>
          <td>
            <p>
              K.S. CHETTRI</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              9434756055</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              55</p>
          </td>
          <td>
            <p>
              T.N. SAPKOTA</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER</p>
          </td>
          <td>
            <p>
              280882</p>
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            <p>
              9434976208</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              56</p>
          </td>
          <td>
            <p>
              G.P. ADHIKARI</p>
          </td>
          <td>
            <p>
              AO</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434137445</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              57</p>
          </td>
          <td>
            <p>
              KESSANG ONGMU</p>
          </td>
          <td>
            <p>
              PS to PRINCIPAL DIRECTOR</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              8759165119</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="#CCCCCC">
            <p>
              <strong>COMMERCIAL TAX DIVISION</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              58</p>
          </td>
          <td>
            <p>
              BASANTI RAI</p>
          </td>
          <td>
            <p>
              COMMISSIONER</p>
          </td>
          <td>
            <p>
              207533</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434023284</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              59</p>
          </td>
          <td>
            <p>
              MANOJ RAI</p>
          </td>
          <td>
            <p>
              JOINT COMMISSIONER</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9932028369</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td>
            <p>
              60</p>
          </td>
          <td>
            <p>
              MANOJ TAMANG</p>
          </td>
          <td>
            <p>
              ACCOUNTS OFFICER</p>
          </td>
          <td>
            --
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              9434486171</p>
          </td>
          <td>
            --
          </td>
        </tr>
        <tr>
          <td colspan="7" bgcolor="#CCCCCC">
            <p>
              <strong>SIKKIM STATE LEGAL SERVICES AUTHORITY</strong>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              61</p>
          </td>
          <td>
            <p>
              MEMBER SECRETARY (SLSA)</p>
          </td>
          <td>
            <p>
              MEMBER SECRETARY</p>
          </td>
          <td>
            <p>
              03592-207753</p>
          </td>
          <td>
            --
          </td>
          <td>
            <p>
              --</p>
          </td>
          <td>
            sikkim_slsa@live.com</td>
        </tr>
      </table>
    </div>

  </section>
</main>