
<style>

    nav > .nav.nav-tabs{
    
    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
    
    }
    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active
    {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
    }
    
    nav > div a.nav-item.nav-link.active:after
    {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
    }
    .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
    }
    
    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus
    {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
    }
    
    </style>


<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Trainings</h3>
        </div>
    </div>
</div>

<br/><br/>


        <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">2016-2017</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">2015-2016</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">2014-2015</a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">2013-2014</a>
                    <a class="nav-item nav-link" id="nav-2012-tab" data-toggle="tab" href="#nav-2012" role="tab" aria-controls="nav-2012" aria-selected="false">2012-2013</a>
                  </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               
                    <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Rescheluding of Trainees_21_10_2016.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Rescheluding
                            of Trainees Vide No:839/Fin/Adm Dated 21.10.2016.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a></li>
                    </ul>
                    <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/compulsorytraining for ssas.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Compulsory
                            Training for SSAS promotees under probation period Vide N.No: 838/Fin/Adm Dated
                            21.10.2016.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a></li>
                    </ul>
                    <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Compulsory Training on e-filling of Form 24G.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Compulsory
                            Training on e-filling of Form 24G by the Treasury, Pay & Accounts Office Vide N.No:
                            GOS/FCD/FCD/2015/17/TDS/208 Dated 18.08.2016.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" /></a></li>
                    </ul>
                    <ul>
                        <li style="color: Black;"><a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Corrigendum Training.pdf"
                            target="_blank" style="color: Black; font-size: small;">Notification:- Corrigendum
                            of Compulsory training on e-filing of Income Tax Returns vide C.No: GOS/FRED/FCD/FIN/2015/17/TDS/184
                            Dated 15.07.2016.
                            </a></li>
                    </ul>
              
              </div>



              <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <p style="text-align: center">Training Not Available</p>
              </div>


              <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Employees Corner/Trainings/CompulsoryTraining E-IT.pdf" target="_blank" style="color: Black; font-size: small;">Notification:- Compulsory training on e-filing of Income Tax Returns by the D&Dos ref. Circular no.20/Fin/Adm., Dated
                            13.10.2014.
                            <img border="0" src="http://sikkimfred.gov.in/images/new.gif" width="28" height="15" style="padding-left: 5px;" />
                        </a>
                    </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Re-scheduled for Accounts Clerks Training at AATI.pdf" target="_blank"
                            style="color: Black; font-size: small;">Notification:- Re-scheduling of Accounts Clerk Training vide no.01/Fin/SSAS dated 10/04/2014.
                        </a>
                    </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Employees Corner/Trainings/Training _Letter.pdf" target="_blank" style="color: Black; font-size: small;">Compulsory Training for Probationer – Accounts Clerks at AATI vide No. 1176/Fin/SSAS dated 25/02/2014.
                        </a>
                    </li>
                    </ul>
                    <ul>
                        <li style="color: Black;">
                            <a href="http://sikkimfred.gov.in/Notification/Documents/Annexure to training.pdf" target="_blank" style="color: Black; font-size: small;">ANNEXURE- List of Training.</a>
                        </li>
                    </ul>
          </div>
              



          <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <ul>
                <li style="color: Black;">
                    <a href="http://sikkimfred.gov.in/Notification/Documents/Leter_to_all_heads_of_department.pdf" target="_blank" style="color: Black; font-size: small;">List of Accounts Staffs Nominated for Refresher Course on Financial Management and Accounting at AATI for the year
                        2013-14 </a>
                </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Notification/Documents/Annexure to training.pdf" target="_blank" style="color: Black; font-size: small;">ANNEXURE- List of Training.</a>
                    </li>
                </ul>
           
            <ul>
                <li style="color: Black;">
                    <a href="http://sikkimfred.gov.in/Notification/Documents/AATI.pdf" target="_blank" style="color: Black; font-size: small;">List of Accounts Staffs Nominated for Refresher Course on Financial Management and Accounting at AATI for the year
                        2013-14</a>
                </li>
                </ul>
                <ul>
                    <li style="color: Black;">
                        <a href="http://sikkimfred.gov.in/Notification/Documents/Encloser.pdf" target="_blank" style="color: Black; font-size: small;">ANNEXURE- List of Training. </a>
                    </li>
                </ul>
                </div>
     
                <div class="tab-pane fade  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-2012" role="tabpanel" aria-labelledby="nav-2012-tab">
        <p style="text-align: center">Training Not Available</p>
      </div>


         </div>
         </div>
         </div>
         </div>
         
  
<br/>
<br/>